@font-face {
    font-family: "Akkurat Pro Light";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Pro Light Italic";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProLightItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Pro Regular";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Akkurat Pro Italic";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Akkurat Pro Bold";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Pro Bold Italic";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProBoldItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Campton Book";
    src: url("https://common.northwestern.edu/v8/css/fonts/CamptonBook.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Campton Bold";
    src: url("https://common.northwestern.edu/v8/css/fonts/CamptonBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Campton Extra Bold";
    src: url("https://common.northwestern.edu/v8/css/fonts/CamptonExtraBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Campton Extra Light";
    src: url("https://common.northwestern.edu/v8/css/fonts/CamptonExtraLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
