@font-face {
    font-family: "Akkurat Pro Light";
    src: url("//common.northwestern.edu/v8/css/fonts/AkkuratProLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Pro Light Italic";
    src: url("//common.northwestern.edu/v8/css/fonts/AkkuratProLightItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Pro Regular";
    src: url("//common.northwestern.edu/v8/css/fonts/AkkuratProRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Akkurat Pro Italic";
    src: url("//common.northwestern.edu/v8/css/fonts/AkkuratProItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Akkurat Pro Bold";
    src: url("//common.northwestern.edu/v8/css/fonts/AkkuratProBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Pro Bold Italic";
    src: url("//common.northwestern.edu/v8/css/fonts/AkkuratProBoldItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    text-rendering: optimizeLegibility;
    font-family: "Akkurat Pro Regular" !default; //, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
}

header.navbar {
    background-color: #492A78;
    color: white;
}

header .links {
    background-color: #492A78 !important;
    color: white !important;
}

header .links .router-link-active {
    background-color: #492A78 !important;
    color: #BBB8B8 !important;
    border-bottom: 2px solid  #836EAA !important;
}

header .links .nav-dropdown {
    color: #2c3e50 !important;
}

.navbar .site-name {
    color: white !important;
}

.task-list {
    list-style-type: none;
}
