// Don't put anything else in here -- this file is ONLY for these variables.
// Use style.styl for custom CSS.

$accentColor = #4e2a84
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
